<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
           
            <div class="col-8 col-md">
                <h5>About Us</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="https://starsightenergy.com/" class="text-muted">Our Website</a></li>
                </ul>
            </div>
            
            <div class="col-8 col-md">
                <h5>Connect with Us</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="https://www.linkedin.com/company/starsight-power-utility-limited/mycompany/" class="text-muted">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/starsightenergy/" class="text-muted">Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>