{% extends 'base.html' %} 


{% block title %}
    Manage Audits
{% endblock title %}
    

{% block content %}
<div class="card text-center">
    <div class="card-body">

        <h1>Sites Audits Management</h1>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:client' %}">Clients</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:site' %}">Sites</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:all-vendor' %}">Vendors</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:checklist' %}">Checklist for Bank</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:checklist-two' %}">Checklist for Fuel and Gas Station</a> 
        <a class="btn btn-dark btn-sm" href="{% url 'audits:checklist-three' %}">C&I Checklist</a> 
    </div>

</div>

{% endblock %}