*{
    box-sizing: border-box;
}


html{
    font-size: 90%; /* 16px * 62.5% = 10px = 1rem*/
}

body {
    background-color: #FAFAFA;
    font-family: 'Nunito', sans-serif;   
    height: 100vh;
    margin: 0;
}


a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: rgb(78, 133, 78);
}


.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}



header a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}


header a:hover{
    color: rgb(108, 177, 108);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh;
    background-color: grey;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}


footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}




nav a {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}



#logo {
    height: 70px;
}



.nav-links a {
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}



.u-nav-links li {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    
}


.u-nav-links {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .u-nav-links li{
        padding: 5px;
    }
}


@media screen and (min-width: 600px) {
    .u-nav-links li{
        padding: 10px;
    }
}


@media screen and (min-width: 768px) {
    .u-nav-links li{
        padding: 15px;
    }
}


@media screen and (min-width: 992px) {
    .u-nav-links li{
        padding: 20px;
    }
}


@media screen and (min-width: 1300px) {
    .u-nav-links li{
        padding: 50px;
    }

    nav a {
        
        font-size: 24px;
    }

    html{
        font-size: 120%; /* 16px * 62.5% = 10px = 1rem*/
    }
   
}


.content{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
}

.image {
    width: 100px;
    border-radius: 80px;
    margin-right: 10px;

}





.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #000;
}




